<h1>Welcome to Toot</h1>

<div class="main-container">
  <h3>See what the world is saying</h3>
    <div class="toots-container">
      <p>All Toots</p>
    </div>
</div>
<%= link_to 'Create new account', sign_up_path %>
