// Place all the styles related to the Toots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.toot {
  font-family: arial;
  text-align: center;
  margin: 0;
}

.header, h1 {
  background-color: #99ccff;
  margin: 0;
}

.main-container {
  background-color: #F0F8FF;
  margin: 0;
}

.footer {
  background-color: #66b3ff;
  margin: 0;
  padding: 0;
}
